<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPARK ROOM</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
<body>
 <form action="/index" method="POST">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="admin"><h2>SPARK ROOM</h2></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>        
          <div class="collapse navbar-collapse" id="navbarMain">

            <ul class="navbar-nav ms-auto mb-12 mb-lg-0">
              <a class="navbar-brand" href="/admin"><h4 class="r">จัดการลูกค้า</h4></a>
              <a class="navbar-brand" href="/checkroom"><h4 class="r">เช็คที่นั่ง</h4></a>
              <a class="navbar-brand" href="/managerroom"><h4 class="r">จัดการห้อง</h4></a>
              <a class="navbar-brand" href="/login"><h4 class="r">ออกจากระบบ</h4></a>
            </ul>
          </div>              
      </nav>
      <br>
      <br> 
      <center>
        <h1 class="mo"> Screen1 </h1>
        <br>
            <div class="row">
            <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="1C1" autocomplete="off"><label class="btn btn-outline-danger scal" for="1C1"><h6>1C1</h6></label></div>
            <div class="col-md-2"><input type="radio" class="btn-check" name="options-outlined" id="1C2" autocomplete="off"><label class="btn btn-outline-danger scal" for="1C2"><h6>1C2</h6></label></div>
            <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="1C3" autocomplete="off"><label class="btn btn-outline-danger scal" for="1C3"><h6>1C3</h6></label></div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="1B1" autocomplete="off"><label class="btn btn-outline-danger scal" for="1B1"><h6>1B1</h6></label></div>
              <div class="col-md-2"><input type="radio" class="btn-check" name="options-outlined" id="1B2" autocomplete="off"><label class="btn btn-outline-danger scal" for="1B2"><h6>1B2</h6></label></div>
              <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="1B3" autocomplete="off"><label class="btn btn-outline-danger scal" for="1B3"><h6>1B3</h6></label></div>
              </div>
            <br>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="1A1" autocomplete="off"><label class="btn btn-outline-danger scal" for="1A1"><h6>1A1</h6></label></div>
              <div class="col-md-2"><input type="radio" class="btn-check" name="options-outlined" id="1A2" autocomplete="off"><label class="btn btn-outline-danger scal" for="1A2"><h6>1A2</h6></label></div>
              <br><br>
                <center>
                  <div class="col-sm-4">
                    <a href="#+-187MN J2/">
                      <button type="reset" class="btn btn-success">clear</button>
                    </a>
                  </div>
                </center>
              <br><br>
        <h1 class="mo"> Screen2 </h1>
        <br><br><br><br><br>
            <div class="row">
            <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="2C1" autocomplete="off"><label class="btn btn-outline-danger scal" for="2C1"><h6>2C1</h6></label></div>
            <div class="col-md-2"><input type="radio" class="btn-check" name="options-outlined" id="2C2" autocomplete="off"><label class="btn btn-outline-danger scal" for="2C2"><h6>2C2</h6></label></div>
            <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="2C3" autocomplete="off"><label class="btn btn-outline-danger scal" for="2C3"><h6>2C3</h6></label></div>
            </div>
            <br><br><br>
            <div class="row">
              <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="2B1" autocomplete="off"><label class="btn btn-outline-danger scal" for="2B1"><h6>2B1</h6></label></div>
              <div class="col-md-2"><input type="radio" class="btn-check" name="options-outlined" id="2B2" autocomplete="off"><label class="btn btn-outline-danger scal" for="2B2"><h6>2B2</h6></label></div>
              <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="2B3" autocomplete="off"><label class="btn btn-outline-danger scal" for="2B3"><h6>2B3</h6></label></div>
              </div>
            <br><br><br>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="2A1" autocomplete="off"><label class="btn btn-outline-danger scal" for="2A1"><h6>2A1</h6></label></div>
              <div class="col-md-2"><input type="radio" class="btn-check" name="options-outlined" id="2A2" autocomplete="off"><label class="btn btn-outline-danger scal" for="2A2"><h6>2A2</h6></label></div>
              <br><br>
              <center>
                <div class="col-sm-4">
                  <a href="#">
                    <button type="reset" class="btn btn-success">clear</button>
                  </a>
                </div>
              </center>
    <br>
    <h1 class="mo"> Screen3 </h1>
        <br><br><br><br><br>
            <div class="row">
            <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="3C1" autocomplete="off"><label class="btn btn-outline-danger scal" for="3C1"><h6>3C1</h6></label></div>
            <div class="col-md-2"><input type="radio" class="btn-check" name="options-outlined" id="3C2" autocomplete="off"><label class="btn btn-outline-danger scal" for="3C2"><h6>3C2</h6></label></div>
            <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="3C3" autocomplete="off"><label class="btn btn-outline-danger scal" for="3C3"><h6>3C3</h6></label></div>
            </div>
            <br><br><br>
            <div class="row">
              <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="3B1" autocomplete="off"><label class="btn btn-outline-danger scal" for="3B1"><h6>3B1</h6></label></div>
              <div class="col-md-2"><input type="radio" class="btn-check" name="options-outlined" id="3B2" autocomplete="off"><label class="btn btn-outline-danger scal" for="3B2"><h6>3B2</h6></label></div>
              <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="3B3" autocomplete="off"><label class="btn btn-outline-danger scal" for="3B3"><h6>3B3</h6></label></div>
              </div>
            <br><br><br>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="3A1" autocomplete="off"><label class="btn btn-outline-danger scal" for="3A1"><h6>3A1</h6></label></div>
              <div class="col-md-2"><input type="radio" class="btn-check" name="options-outlined" id="3A2" autocomplete="off"><label class="btn btn-outline-danger scal" for="3A2"><h6>3A2</h6></label></div>
              <center>
                <div class="col-sm-4">
                  <a href="#">
                    <button type="reset" class="btn btn-success">clear</button>
                  </a>
                </div>
              </center>
    <br>
    <h1 class="mo"> Screen4 </h1>
        <br><br><br><br><br>
            <div class="row">
            <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="4C1" autocomplete="off"><label class="btn btn-outline-danger scal" for="4C1"><h6>4C1</h6></label></div>
            <div class="col-md-2"><input type="radio" class="btn-check" name="options-outlined" id="4C2" autocomplete="off"><label class="btn btn-outline-danger scal" for="4C2"><h6>4C2</h6></label></div>
            <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="4C3" autocomplete="off"><label class="btn btn-outline-danger scal" for="4C3"><h6>4C3</h6></label></div>
            </div>
            <br><br><br>
            <div class="row">
              <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="4B1" autocomplete="off"><label class="btn btn-outline-danger scal" for="4B1"><h6>4B1</h6></label></div>
              <div class="col-md-2"><input type="radio" class="btn-check" name="options-outlined" id="4B2" autocomplete="off"><label class="btn btn-outline-danger scal" for="4B2"><h6>4B2</h6></label></div>
              <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="4B3" autocomplete="off"><label class="btn btn-outline-danger scal" for="4B3"><h6>4B3</h6></label></div>
              </div>
            <br><br><br>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-5"><input type="radio" class="btn-check" name="options-outlined" id="4A1" autocomplete="off"><label class="btn btn-outline-danger scal" for="4A1"><h6>4A1</h6></label></div>
              <div class="col-md-2"><input type="radio" class="btn-check" name="options-outlined" id="4A2" autocomplete="off"><label class="btn btn-outline-danger scal" for="4A2"><h6>4A2</h6></label></div>
              <center>
                <div class="col-sm-4">
                  <a href="#">
                    <button type="reset" class="btn btn-success">clear</button>
                  </a>
                </div>
              </center>
            <br>
      </center>           

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </form>
    </body>
</html>