<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPARK ROOM</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
 <form action="/index" method="POST">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#"><h2>SPARK ROOM</h2></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>        
          <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ms-auto mb-12 mb-lg-0">
              <a class="navbar-brand" href="/login"><h4 class="r">เข้าสู่ระบบ</h4></a>
             
            </ul>
          </div>              
      </nav>
<center>
  <br><br>
      <div class="container">
        <div class="card bg-light text-red shadow">
        <div class="card-body">
            <table class="row">
            <tbody align="center">
                <tr>
                <td><img src="image/1.jpg" alt="#" width="250" height="350"></td>
                <td><img src="image/2.jpg" alt="#" width="250" height="350"></td>
                <td><img src="image/3.jpg" alt="#" width="250" height="350"></td>
                <td><img src="image/4.jpg" alt="#" width="250" height="350"></td>
                </tr>
                <br>
                <tr>
                    
                    <td><img src="image/5.jpg" alt="#" width="250" height="350"></td>
                    <td><img src="image/6.jpg" alt="#" width="250" height="350"></td>
                    <td><img src="image/7.jpg" alt="#" width="250" height="350"></td>
                    <td><img src="image/8.jpg" alt="#" width="250" height="350"></td>
                </tr>
                </tbody>
                </table>
                <br>
            </div>
            <br>
            
                </div>
            </div>
</center>
           <br><br><br>
<div class="footer dd">
    <table class="table table-dark " >
      <tr>
        <td align="center"><h6>Spark RooM Mail : @gmail.com<br><br>
                                Movie DooDEE.com </h6></td>
      </tr>
      
    </table>
</div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </form>
    </body>
</html>